@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family:  "Ubuntu", sans-serif;
}

hr {
     /* Default border style */
    background-color: #a8a8a8;
}

.navbar-brand img{
    height: 40px;
}

.nav-link:hover {
    color: #ff004f;
}
.nav-link:active {
    color: green !important;
}
.nav-link {
    color: black;
}


.bg-image {
    
    height: 550px;
    background-size: cover;
    opacity: 0.7;
    

}

.img-text {
    color: #006a4e;
}

.imagecir img{
    width: 30vw;
}

.text {
    margin-top: 4rem;
}

.texth1 {
    font-size: clamp(50px, 5vw, 100px)
}
.textbtn {
    padding: .5rem .5rem .5rem .5rem;
}

.texth6 {
    font-size: clamp(10px,  1rem, 20px);
    max-width: 70%;
}
.card {
    height: 10rem;
    background-color: #f3f5f7;
}

.card-icon {
    font-size: 1.3rem;
    margin-left: 1.2rem;
    margin-top: 1.2rem;
    height: 3rem;
    width: 3rem;
    background-color: #f1edfe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-icon i {
    color: #7456f1;
}

.openSourse {
    display: block;
}
.hand {
    display: block;
}

#what {
    background-color: whitesmoke;
}

#what:hover {
    background-color: white;
}


.whaticon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #a8a5b1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35%;
    margin-left: 2rem;
}
.whaticon i {
    color: #7456f1;
    font-size: 1.5rem;
}

.card {
    overflow: hidden;
    height: fit-content;
    min-height: 11rem;
   
}

.card-height {
    height: auto;
}


.same-height {
    display: flex;
}

.same-height > div {
    flex: 1;
    padding: 20px;
    
}
.card-text {
    font-size: .8rem;
    margin-left: .4rem;
}
.card-title {
    color: rgb(27, 26, 26);
    margin-top: -5px;
    margin-left: .4rem;
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    cursor: pointer;
}

#back {
    background-image: url("markus-spiske-MgtHZ4zlC1U-unsplash.jpg");
    background-size: cover;
    border-radius: 2px;
    min-height: 25rem;
}


#back {
    background-image: url("markus-spiske-MgtHZ4zlC1U-unsplash.jpg");
    background-size: cover;
    border-radius: 2px;
    min-height: 25rem;
}
.background {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.subsription{
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    border-radius: 5px;
}



.sub-container {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.sub-input {
    background-color: transparent;
    border: 1px #fff solid ;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    margin-top: .1rem;
    margin-bottom: .7rem;
    
}

.sub-btn {
    width: 6rem;
}
.form-btn {
    display: flex;
    justify-content: flex-start;
}


.sub-text {
    text-align: left;
}

.input {
    
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: .7rem;
   
}
ul {
    list-style-image: url('icons8-done-12.png');

}
li a {
    text-decoration: none;
    color: rgb(44, 44, 44);
    font-size: 12px;
    text-wrap: nowrap;
    text-align: center;
}
.main-list {
    align-items: center;
    height: 15rem;
    justify-content: center;
    
}

li a:hover {
    color: #83d1f1;
}

.store-link {
    text-decoration: none;
}
.store-icon {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.store-card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.daraz-logo {
    height: 2.8rem;
}

.store-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 204, 255, 0.5);
}

.join-back {
    height: 30rem;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8) ), url('annie-spratt-hCb3lIB8L8E-unsplash.jpg');
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.join-text {
    color: white;
    max-width: 38rem;
}
.join-small-text {
    letter-spacing: .03rem;
}
.join-btn {
    height: 2.3rem;
    width: 5rem;
}

footer {
    background-color: #102136;
}
.footer-heading {
    color: white;
}
.footer-content {
    color: #5e6365;
    font-size: .8rem;
}
.reach-out-content a {
    display: flex;
    text-decoration: none;
    color: #5e6365;
    
}
.all-icon {
    margin-right: 5px;
}
.reach-out-content a:hover {
    color: #83d1f1;
}

.about-content {
    display: flex;
    flex-direction: column;

}
.footer-hover a {
    text-decoration: none;
    color: #5e6365;
}
.footer-hover a:hover {
    color: #83d1f1;
}
.link-content {
    display: flex;
    flex-direction: column;
}
.imlink-content {
    display: flex;
    flex-direction: column;
}

.footer-footer {
    background-color: #0d1c2f;
    width: 100%;
    height: 4rem;
}



.footer-footer-link {
    display: flex;
    justify-content: flex-end;  /* Optional for horizontal centering */
    align-items: center;
    height: 3rem; /* Adjust height as needed */
    color: #5e6365;
   
}
.footer-footer-link a {
    text-decoration: none;
    color: #5e6365;
    
}
.footer-footer-link a + a {
    margin-left: 10px;
}

.footer-footer-text p{
    
    display: flex;
    justify-content: flex-start;  /* Optional for horizontal centering */
    align-items: center;
     /* Adjust height as needed */
    color: #5e6365;

    display: grid;
    place-items: center;
    height: 3rem;
        
  }

.footer-footer-link a:hover {
    color: #83d1f1;
}




.serviceBg {
    background-image: url('vishnu-mohanan-pfR18JNEMv8-unsplash.jpg');
    background-size: cover;
    min-height: 15rem;
    width: 100%;
    border-radius: 5px;
}
.serviceBgcolor {
    background-color: #f1f1f1;
    border-radius: 5px;
}

@media screen and (max-width: 992px) {
    .same-height {
        display: flex;
        flex-direction: column;
    }
    
    .same-height > div {
        flex: 1;
        padding: 20px;
        
    }
 .form {
        text-align: center;
    }
    .form-btn {
        justify-content: center;
    }
    .main-list {
        justify-content: center;
        height: 15rem;
    }
    .list1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 5rem;
        margin-right: .6rem;
       
    }
    .list2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 5rem;
        margin-top: -6rem;
        
       
    }
    
       
   
       
    .texth6 {
        font-size: clamp(10px,  1rem, 20px);
        max-width: 100%;
    }
    .img-texth6 {
        text-wrap: nowrap;
    }
    .texth1 {
        font-size: clamp(30px,  1rem, 20px);
    }
    .texth6 {
        font-size: clamp(7px,  1rem, 12px);
    }
} 

@media screen and (max-width: 768px) 
    {
         
    .footer-footer {
        background-color: #0d1c2f;
        width: 100%;
        height: 6rem;
    }
    .footer-footer-text p {
    
        display: flex;
        justify-content: center;  
         
        color: #5e6365;
        margin-top: 2.2rem;
        height: .3rem;
            
      }
      .footer-footer-link {
        display: flex;
        justify-content: center;  /* Optional for horizontal centering */
        margin-top: .5rem;
        height: .3rem; /* Adjust height as needed */
        color: #5e6365;
    }
    
    }
  
    
