@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family:  "Ubuntu", sans-serif;
}

hr {
     /* Default border style */
    background-color: #a8a8a8;
}

.navbar-brand img{
    height: 40px;
}

.nav-link {
    color: black;
    text-decoration: none;
    position: relative;
}
.nav-link::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #7700ff;
    position: absolute;
    left: 7.5px;
    bottom: 8px;
    transition: 0.5s;
}
.nav-link:hover::after{
    width: 60%;
}

.con-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    color: #7456f1;
    transition: background-color color 0.2s ease;
}
.con-card:hover .con-card-text {
    color: #fff;
    transition-delay: 0;
}
.con-card:hover {
    background-color: #7456f1;
    color: #fff;
    transition-delay: 0;
}
.con-card-text {
    color: #102136;
}




.join-back {
     height: 30rem;
     background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8) ), url('annie-spratt-hCb3lIB8L8E-unsplash.jpg');
     background-size: cover;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 .join-text {
     color: white;
     max-width: 38rem;
 }
 .join-small-text {
     letter-spacing: .03rem;
 }
 .join-btn {
     height: 2.3rem;
     width: 5rem;
 }



 
footer {
     background-color: #102136;
 }
 .footer-heading {
     color: white;
 }
 .footer-content {
     color: #5e6365;
     font-size: .8rem;
 }
 .reach-out-content a {
     display: flex;
     text-decoration: none;
     color: #5e6365;
     
 }
 .all-icon {
     margin-right: 5px;
 }
 .reach-out-content a:hover {
     color: #83d1f1;
 }
 
 .about-content {
     display: flex;
     flex-direction: column;
 
 }
 .footer-hover a {
     text-decoration: none;
     color: #5e6365;
 }
 .footer-hover a:hover {
     color: #83d1f1;
 }
 .link-content {
     display: flex;
     flex-direction: column;
 }
 .imlink-content {
     display: flex;
     flex-direction: column;
 }
 
 .footer-footer {
     background-color: #0d1c2f;
     width: 100%;
     height: 4rem;
 }
 
 
 
 .footer-footer-link {
     display: flex;
     justify-content: flex-end;  /* Optional for horizontal centering */
     align-items: center;
     height: 3rem; /* Adjust height as needed */
     color: #5e6365;
    
 }
 .footer-footer-link a {
     text-decoration: none;
     color: #5e6365;
     
 }
 .footer-footer-link a + a {
     margin-left: 10px;
 }
 
 .footer-footer-text p{
     
     display: flex;
     justify-content: flex-start;  /* Optional for horizontal centering */
     align-items: center;
      /* Adjust height as needed */
     color: #5e6365;
 
     display: grid;
     place-items: center;
     height: 3rem;
         
   }
 
 .footer-footer-link a:hover {
     color: #83d1f1;
 }

/* main background */

.background {
     background-size: cover;
     height: 25rem;
     width: 100%;
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
    
}

.main-text{
     display: flex;
     flex-direction: column;
     justify-content: center;
     color: #000;
     font-size: 1.5rem;
}

.con-main-bg {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}




form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background-color: #f1f1f1;
    padding: 16px;
    margin: 15px 0;
    border-radius: 6px;
    font-size: 10px;
    color: #000;
}

form button {
    padding: 4px 16px;
    font-size: 10px;
    margin-top: 10px;
    border-radius: 6px;
}

 @media screen and (max-width: 768px) {
     .footer-footer {
          background-color: #0d1c2f;
          width: 100%;
          height: 6rem;
      }
      .footer-footer-text p {
      
          display: flex;
          justify-content: center;  
           
          color: #5e6365;
          margin-top: 2.2rem;
          height: .3rem;
              
        }
        .footer-footer-link {
          display: flex;
          justify-content: center;  /* Optional for horizontal centering */
          margin-top: .5rem;
          height: .3rem; /* Adjust height as needed */
          color: #5e6365;
         
      }
      
    .nav-link {
        color: black;
        text-decoration: none;
        position: relative;
    }
    .nav-link::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #7700ff;
        position: absolute;
        left: 45%;
        bottom: 8px;
        transition: 0.5s;
    }
    .nav-link:hover::after{
        width: 10%;
    }
    
 }
 @media screen and (max-width: 992px){

    .nav-link {
        color: black;
        text-decoration: none;
        position: relative;
    }
    .nav-link::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #7700ff;
        position: absolute;
        left: 45%;
        bottom: 8px;
        transition: 0.5s;
    }
    .nav-link:hover::after{
        width: 10%;
    }

}